@charset "utf-8";
/**
 * /styles/captcha.css
 * Styles used `w9lab-events` "Events Lab - CAPTCHA".
 *
 * By        : Leomar Duran <https://github.com/lduran2>
 * When      : 2021-11-15t21:09
 * Where     : Community College of Philadelphia
 * For       : CIS 114/JavaScript I
 * Version   : 1.0.2
 * Canonical : https://github.com/lduran2/cis114-javascript_i/blob/master/styles/captcha.css
 *
 * CHANGELOG :
 *     v1.0.2 - 2021-11-15t21:09
 *         styled the success/failure message
 *         fixed the last puzzle tile
 *
 *     v1.0.1 - 2021-11-15t20:49
 *         styled the captcha puzzle
 *         bigger sequence font
 *
 *     v1.0.0 - 2021-11-15t20:37
 *         style the sequence
 */

.sequence, .sequence span {
	border: 2px solid;
}

.sequence {
	font-weight: bold;
	font-size: 1.5em;
	font-family: 'Courier New', courier, 'Lucida Typewriter', 'Lucida Console', monospace;
	background: rgb(255, 255, 127);
	border-right: none;
}

.sequence span {
	border-style: none;
	border-right: solid;
	padding: 0 0.25em;
}

#puzzle, #puzzle li {
	list-style: none;
	margin-left: 0;
	border: 2px;
	padding-left: 0;
}

#puzzle {
	margin: 1em auto;
	border-style: none;
	border-top-style: solid;
	float: left;
}

#puzzle li {
	background: silver;
	border-style: none solid solid none;
	width: 250px;
	height: 250px;
	float: left;
}

#puzzle li:nth-child(3n+1) {
	border-left-style: solid;
	clear: left;
}

#puzzle li:nth-child(10) {
	float: none;
	margin: auto;
	border-left-style: solid;
}

#success-message {
	clear: both;
	text-align: center;
	background: silver;
	border: 2px solid;
	width: 758px;
}