@charset "utf-8";
/**
 * /styles/events.css
 * Styles used `w9hw-events` "Concepts Assignment - Events".
 *
 * By        : Leomar Duran <https://github.com/lduran2>
 * When      : 2021-11-13t01:38
 * Where     : Community College of Philadelphia
 * For       : CIS 114/JavaScript I
 * Version   : 1.0.1
 * Canonical : https://github.com/lduran2/cis114-javascript_i/blob/master/styles/events.css
 *
 * CHANGELOG :
 *     v1.0.1 - 2021-11-13t01:38
 *         added padding to h1, so it doesn't skip
 *
 *     v1.0.0 - 2021-11-12t22:23
 *         styled body, h1, and 'activated' class
 */

body {
	color: black;
	background: white;
}

h1 {
	font-size: 2em;
	padding: 1em;
}

.activated {
	color: rgb(255, 199, 44);
	background: black;
	border: 0.5em solid;
	padding: 0.5em;
}

/*
 * References
 *
 * College colors. (2021). Community College of Philadelphia. Retrieved from
 * <file:///C:/Users/Leo%20Duran/Downloads/cis/114/cis114-javascript_i/events/index.html>.
 */
