@charset 'utf-8';

body {
    font-family: verdana, geneva, tahoma, sans-serif;
}

header {
    float: left;
    background: rgb(127, 191, 255);
    margin-bottom: 2em;
    padding: 2%;
    width: 96%;
}

header ul, header li {
    float: left;
    list-style: none;
}

header li + li {
    margin-left: 0.25em;
    border-left: 1px solid;
    padding-left: 0.25em;
}

header + *, .item-picture + * {
    clear: left;
}

.page {
    visibility: hidden;
    position: absolute;
}

.page.active {
    visibility: visible;
    position: static;
}

#search, #item {
    background: rgb(255, 191, 127);
}

#search-results li:hover {
    cursor: pointer;
    background: rgb(255, 223, 127);
}

#search-results img {
    width: 5em;
}

#search-results .name {
    font-size: 2em;
}

#search-results .description {
    clear: left;
}

#item {
    width: 75%;
}

#item img {
    width: 500px;
}

.item-picture img {
    width: 30%;
}

